<html>
    <head>
        <title>Front-Back-Data</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="form-section" method='form_name'>
            <form action="{{path}}" method="post">
                <h1>{{form_name}}</h1>
                <h1>{{context}}</h1>
                a:<input type="number" name="a_val">
                b:<input type="number" name="b_val">
                <input type='submit' value="submit">
            </form>
        </div>
    </body>
</html>